{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Puffer</title>
  <link rel="stylesheet" href="{% static 'puffer/css/style.css' %}">
</head>

<body>

{% if user.is_authenticated %}
  <h1>Puffer</h1>
  <p>User: {{ user.get_username }}</p>
  <p><a href="{% url 'logout' %}">Logout</a></p>

  <div id="tv-container">
    <video id="tv-player" autoplay mediagroup="tv"></video>
    <div id="tv-controls">
      <button type="button" id="mute-button"></button>
      <input type="range" id="volume-bar" min="0" max="1" step="0.05" value="1">
      <select id="channel-select">
        <option value="fox">fox</option>
        <option value="nbc">nbc</option>
        <option value="tos">tos</option>
      </select>
      <button type="button" id="full-screen-button"></button>
    </div>
  </div>

  <br>
  <button type="button" id="debug-button">Show Debug Info</button>
  <div id="debug-info" hidden=true>
    <h3>Video Playback Buffer: <span id="vidPBuf"></span> seconds</h3>
    <h3>Audio Playback Buffer: <span id="audPBuf"></span> seconds</h3>
    <h3>Vbuf Length: <span id="vbufLen"></span> seconds</h3>
    <h3>Abuf Length: <span id="abufLen"></span> seconds</h3>
    <h3>Times rebuffered: <span id="rebufCount"></span></h3>
    <h3>Video Resolution: <span id="resolution"></span></h3>
    <h3>Amount of Video Played: <span id="vidTimePlayed"> seconds</span></h3>
    <h3>Time Passed Since Start: <span id="realTimePassed"> seconds</span></h3>
  </div>

  <script src="{% static 'puffer/js/player.js' %}"></script>

  {% if params_json %}
  <script type="text/javascript">
    init_player("{{ params_json|escapejs }}");
  </script>
  {% endif %}

{% else %}
  <p>
  You must <a href="{% url 'login' %}">login</a> to view this page.
  </p>
{% endif %}

</body>

</html>
